## Regression Tables via `pf.etable()` and the `Stargazer` package

To produce regression tables, we have two options: pyfixest's internal `etable()` function and the [Stargazer](https://github.com/StatsReporting/stargazer) Python package.

In [4]:
import pyfixest as pf

%load_ext autoreload
%autoreload 2

data = pf.get_data()

fit1 = pf.feols("Y ~ X1 | f1", data = data)
fit2 = pf.feols("Y ~ X1 | f1 + f2", data = data)
fit3 = pf.feols("Y ~ X1 + X2 | f1", data = data)
fit4 = pf.feols("Y ~ X1 + X2 | f1 + f2", data = data)
fit5 = pf.feols("Y ~ X1 *X2 | f1 + f2", data = data)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

IndentationError: unexpected indent (summarize.py, line 261)

## `pf.etable()`

We can now compare all regression models via the `etable()` function:

In [5]:
pf.etable([fit1, fit2, fit3, fit4, fit5])

NameError: name 'pf' is not defined

`etable` allows us to do a few things out of the box. For example, we can only keep the variables that we'd like, which keeps all variables that fit the provided regex match.

In [ ]:
pf.etable([fit1, fit2, fit3, fit4, fit5], keep = "X1")

We can use the `exact_match` argument to select a specific set of variables:

In [ ]:
pf.etable([fit1, fit2, fit3, fit4, fit5], keep = ["X1", "X2"], exact_match = True)

We can also easily **drop** variables via the `drop` argument:

In [ ]:
pf.etable([fit1, fit2, fit3, fit4, fit5], drop = ["X1"])

By default, `pf.etable()` reports **standard errors**. But we can also ask to output p-values or confidence intervals.

Additionally, we can also overwrite the defaults for the reported significance levels and control the rounding of results via the 
`signif_code` and `digits` function arguments:

In [ ]:
pf.etable([fit1, fit2, fit3, fit4, fit5], signif_code=[0.01, 0.05, 0.1], digits = 5)

By default, `pf.etable()` returns a data frame, but you can also opt to output latex and markdown via the `type` argument.

In [ ]:
pf.etable([fit1, fit2, fit3, fit4, fit5], signif_code=[0.01, 0.05, 0.1], digits = 5, type = "tex")

NameError: name 'pf' is not defined

## Via `Stargazer`

tba